html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 32px 24px;

  font-family: 'source-sans-pro', sans-serif;
  font-size: 10pt;
  font-weight: 400;

  background-color: rgb(26, 33, 41);
}

#container {
  margin: 32px 24px;
  background-color: rgb(253, 253, 253);
  color: rgb(57, 80, 99);
  max-width: 664px;
  margin: auto;
}

#header {
  background-color: rgb(167, 185, 204);
  padding: 12px;
}

#subheader, #footer {
  background-color: rgb(226, 233, 240);
  padding: 12px;
}

p {
  padding: 0 12px;
}

a {
  text-decoration: none;
  box-decoration-break: clone;
  padding: 2px 5px;
  text-decoration: none;

  color: rgb(57, 80, 99);
}

#header a:hover {
  color: rgb(167, 185, 204);
  background-color: rgb(57, 80, 99);
}

#subheader a:hover, #footer a:hover {
  color: rgb(226, 233, 240);
  background-color: rgb(57, 80, 99);
}

#footer a:hover svg {
  fill: rgb(226, 233, 240);
}

#footer a {
  margin-right: 2px;
}

#content a {
  color: rgb(49, 147, 198);
  background-color: rgb(235, 248, 255);
}

#content a:hover {
  background-color: rgb(210, 240, 255);
}

svg.icon {
  display: inline-block;
  vertical-align: text-top;
  padding: 2px 0;
  fill: rgb(57, 80, 99);
}

.post-list {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 14px;
  column-gap: 10px;
  margin: 10px 0;
  padding: 8px 12px;
}

ul {
  padding-left: 36px;
}

span.date {
  background-color: rgb(235, 240, 245);
  padding: 2px 5px;
}

#content img, #content video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  background-color: rgb(226, 233, 240);
  padding: 12px;
}
