<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=335">
    <title>@title ・ glowcoil</title>
    <link rel="stylesheet" href="https://use.typekit.net/byt7drp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link type='application/atom+xml' rel='alternate' title='glowcoil' href='/index.xml'>
  </head>

  <body>
    <div id="bg">
      <div id="content">
        <div id="header">
          <h2><a href="/">glowcoil</a></h2>
          <a href="/">home</a>
          <a href="/index.xml" id="rss">
            <svg class="icon" viewBox="-2 -2 14 14" width="1em" height="1em">
              <g>
                <path d="M 0 11 H3 A 3 3 0 0 0 0 8 V11 M 5 11 H7 A 7 7 0 0 0 0 4 V6 A 5 5 0 0 1 5 11 M 9 11 H11 A 11 11 0 0 0 0 0 V2 A 9 9 0 0 1 9 11"/>
              </g>
            </svg>
          </a>
        </div>
        <div id="contents">
