<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=335">
        <title>${title} — glowcoil</title>
        <link rel="stylesheet" href="https://use.typekit.net/byt7drp.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
                <div class="header-image"></div>

                <div class="header-link-section">
                    <p class="header-link"><a href="/">home</a></p>
                    <p class="header-link"><a href="/about">about me</a></p>
                </div>

                <div class="header-link-section">
                    <p class="header-link"><a href="https://github.com/glowcoil">github</a></p>
                    <p class="header-link"><a href="https://soundcloud.com/glowcoil">soundcloud</a></p>
                    <p class="header-link"><a href="https://twitter.com/glowcoil">twitter</a></p>
                    <p class="header-link"><a href="https://post.lurk.org/@glowcoil">mastodon</a></p>
                    <p class="header-link"><a href="https://cohost.org/glowcoil">cohost</a></p>
                </div>
            </div>

            <div class="body">
